body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
   
}

h1{
    font-size: 60px;
    font-weight: 600;
    margin: 0%;
    color: rgb(105, 105, 109);
    
}
h2{
    font-size: 45px;
    color:rgb(105, 105, 109)
}
h3{
   font-size: 25px;
    font-weight: 350;
}

h4{
    font-size: 18px;
    font-weight: 400;
    color:rgb(105, 105, 109)
}

p{
    margin: 5%;
    font-size: 20px;
    padding-left:none;
    color:rgb(105, 105, 109)
}
.top-left-part{
    padding-top: 10%;
    padding-left: 8%;
    padding-right: 5%;

}
.orange-color{
    color: orange;
}
.grey-color{
    color: grey;
}
.color-black{
    color: black;
}

.flexible-container{
    display: flex;
    
}

.half-width{
    width: 50%;
    
}
.half-width img{
    width: 100%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 20px 40px;
    color: white;
    font-weight: 700;
    border-radius: 80px;


}
.intro-part{
    padding-bottom: 150px;
}
.about-me{
    width: 50%;
   
}
.contact-me{
    
    background-image: url(images/7.png);
    background-origin: border-box;

    
}
.about-me img{
    width: 50%;
    padding-left: 25%;

}
#middle-part{
    font-size: 17px;
    color: black;
    padding-right: 22%;
}
.centering-place{
    text-align: center;
    color: rgb(105, 105, 109);
    
}
.recipie-title{
    padding-left: 30px;
    padding-right:30px;

}
#para-part{
    padding-left: 220px;
    padding-right: 220px;
}

.recipe-items img{
    width:90%;
}


.recipe-items{
    width: 70%;
    box-shadow: 5px 5px 10px grey;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5px;
    padding-top: 5px;

}


.media-info{
    padding-top: 180px;
    padding-left: 120px; 
    padding-bottom: 70px;
}
.footer-lines{
    text-align: center;
    color: white;
    border: solid;
    padding: 5%;
    background-color:black;

}
#footer-bottom{
    color: lightgray;
}